In [4]:
'''This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

Note: Use a .env file and put your key in there and python-dotenv to access it in this notebook.

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a .env-example file in this repository to illusrtate what you need. Copy that to a file called .env and use your own api key in that .env file. Make sure you also have a .gitignore file with a line for .env added to it.

The standard Python gitignore is here you can just copy that.
'''
# get api key from your .env file
# First, import the relevant modules
import collections
import os
from dotenv import load_dotenv
import requests

load_dotenv()
API_KEY = os.getenv('gRdZ_9Qxw6YihTqLyQbz')
print(API_KEY)

None

r_json is the json file that consists of nested dictionary. The dataset is the key and everything inside it is key value form.

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [5]:
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-12-31&api_key=gRdZ_9Qxw6YihTqLyQbz'
r = requests.get(url)
r_json = r.json()

2. Convert the returned JSON object into a Python dictionary.

In [6]:
r_json = r.json()
type(r_json)

dict

3. Calculate what the highest and lowest opening prices were for the stock in this period.
#

In [7]:
r_json['dataset'].keys()

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

In [8]:
i_open = r_json['dataset']['column_names']
i_open.index('Open')

1

In [9]:
data_json = r_json['dataset']['data']
type(data_json)

list

In [10]:
data_without_none = [i[1] for i in data_json if i[1] != None]

print("The highest opening price: " + str(max(data_without_none)))
print("The lowest opening price: " + str(min(data_without_none)))

The highest opening price: 53.11
The lowest opening price: 34.0

4. What was the largest change in any one day (based on High and Low price)?

In [11]:
index_check = r_json['dataset']['column_names']
index_check

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [12]:
high = [f[2] for f in data_json if f[2] != None]

low = [f[3] for f in data_json if f[3] != None]

In [13]:
zip_object = zip(high,low)

max_value = max([(a-b) for (a,b) in zip_object])
max_value

2.8100000000000023

5. What was the largest change between any two days (based on Closing Price)?

In [25]:
column_names = r_json['dataset']['column_names']
column_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [44]:
data_for_datasets = r_json['dataset']['data']

In [78]:
closing = [f[4] for f in data_for_datasets if f[4] != None]
closing_prove = [f[4] for f in data_for_datasets if f[4]!=None][1:]

the_zip = zip(closing, closing_prove)
the_zip

In [79]:
print("max value is", max([abs(key-value) for (key,value) in the_zip]))

max value is 2.559999999999995

6. What was the average daily trading volume during this year?

In [80]:
column_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [87]:
average_daily_trade = sum([f[6] for f in data_for_datasets if f[6] != None]) / len([f[6] for f in data_for_datasets if f[6] != None])
average_daily_trade

89124.33725490196

7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [90]:
column_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [131]:
traded_volume = [f[6] for f in data_for_datasets if f[6] != None]

In [142]:
import math

def find_median_value(list_numbers):
    sorted_volume = sorted(list_numbers)
    len_sorted_volume = len(list_numbers)
    mid_value_upper = [(i,v) for i,v in enumerate(sorted_volume)][math.ceil(len_sorted_volume/2)][1]
    mid_value_floor = [(i,v) for i,v in enumerate(sorted_volume)][math.floor(len_sorted_volume/2)][1]
    median_volume = (mid_value_upper + mid_value_floor)/2
    return median_volume

In [143]:
find_median_value(traded_volume)

76443.0